[Unit]
Description=Periodic SAAD Deploy poller for %i

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Persistent=true
Unit=saad-deploy@%i.service

[Install]
WantedBy=timers.target
